<div id="header">
	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a><%= link_to 'Home', pages_index_path %></a></li>
        <li><a><%= link_to 'Test', pages_test_path %></a></li>
        <li><a><%= link_to 'Login', users_login_path %></a></li> 
        <li><a><%= link_to 'About us', pages_about_us_path %></a></li>
			</ul>
		</nav>
</div>