<div id="header">
	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><%= link_to 'Home', pages_index_path %></li>
        <li><%= link_to 'Test', pages_test_path %></li>
        <li><%= link_to 'Login', users_login_path %></li> 
        <li><%= link_to 'About us', pages_about_us_path %></li>
			</ul>
		</nav>
</div>